# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.jfr
*.keystore

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.properties
